*{
  margin:0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:#000;
  cursor: pointer;
}
body{
  background-color: #E6E1DD;
}
nav{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.logo{
  font-size: 38px;
  font-weight: bold;
  margin-left: 50px;
}
.nav{
  list-style-type: none;
  display: flex;

}
.nav .nav-item{
  margin-right: 53px;
  font-size: 24px;
}
section{
  padding-top: 4vh;
height: 96vh;
margin: 0 10rem;
box-sizing: border-box;
min-height: fit-content;
}
.mobile_hero{
  display: none;
}
.hero{
  display: flex;

}
.hero .left{
  flex: 1;
  padding-top: 100px ;
}
.hero .right{
  flex:1;
  width: 650px;
  height: 900px;
  margin-top: -150px;
  background: url('./assets/Hero_img.png');
      height: 900px; /* You must set a specified height */
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size:cover; 
z-index: -100;
}
.hero .hero_text{
  font-size: 52px;
}
.hero .left p{
  font-size: 32px;
}
.hero .right img{
  display: none;
  max-width: 100%;
  max-height: 100%;
  z-index: -100;
}
.skills{
  background-color: #ECBD91;
  max-width: 100%;
  margin: 0 ;
  margin-top: 100px;
  height: 85vh;
  padding: 50px;
  color: rgba(0,0,0,0.75);
}
.text{
  font-size: 38px;
  margin-left: 8rem;
}
.skills .skill_list{
  display: flex;
  flex-wrap: wrap;

}
.skill_item{
  
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  transition: all .2s ease-in-out
}
.skill_item:hover{
  transform: scale(1.1); 
}
.skill_item svg{
  max-width: 100%;
  max-height: 100%;
}
.skill_list > *{
  flex: 0 1 25%;
}
.projects{
  background-color: #94afb6;
  max-width: 100%;
  margin: 0 ;
  
  height: 85vh;
  padding: 50px;
  color: rgba(0,0,0,0.75);
}
.projects .project{
  display: flex;
  
}
.project >*{
  flex: 0 1 25%;
}
.card{
  width: 20%;
  display: inline-block;
  
  border-radius: 2rem; 
  margin: 2%;
  background-color: #fff;
 }

.card .image img{
width: 100%;
border-top-right-radius: 5px;
border-top-left-radius: 5px;



}

.card .title{

text-align: center;
padding: 10px;

}

.card h1{
font-size: 20px;
}

.des{
padding: 3px;
text-align: center;

padding-top: 10px;
     border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
button{
margin-top: 40px;
margin-bottom: 10px;
background-color: white;
border: 1px solid black;
border-radius: 5px;
padding:10px;
}
button:hover{
background-color: black;
color: white;
transition: .5s;
cursor: pointer;
}
button:hover a {
  color: #fff;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  padding-top: 3rem;
}
.contact .title{
  font-size: 3rem;
  text-align: center;
}
.contact .email{
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.8rem;
}
@media (max-width: 768px) {
  /* For mobile phones: */
  .nav .nav-item{
      display: none;
  }
  .hero{
      display: none;
  }
  .mobile_hero{
      display: block;
      background: url('./assets/mobile_hero.jpg');
      height: 700px !important; /* You must set a specified height */
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size:cover; 
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  .mobile_hero .hero_text{
      font-size: 38px;
  }
  section{
      width: 100%;
      margin: 0;
      height: auto !important;
  }
  .skills{
      margin-top: 0;
      height: 125vh;
  }
  .skills .skill_list{
      display: grid;
      grid-template-columns:  repeat(2, 1fr);
      
      
  }
  /*.skill_list > *{
      flex: 0 1 45%;
  }*/
  .text{
      margin: 0;
  }
  .projects{
      
      max-width: 100%;
      margin: 0 ;
      
      height: 250vh;
      padding: 50px;
      color: rgba(0,0,0,0.75);
  }
  .projects .project{
      display: flex;
      flex-direction: column;
      
  }
  .project >*{
      flex: 0 1 100%;
  }
  .card{
      width: 100%;
  }
  .contact{
      height: 35vh;
  }
}